<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004387670266-pg2vfrvn4l9ccnm8ef9nb2lm5he9u08f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004387670266-pg2vfrvn4l9ccnm8ef9nb2lm5he9u08f</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Kjr4KdVXucsh0Z_PKsIxQ_aYn7h-0B4</string>
	<key>GCM_SENDER_ID</key>
	<string>1004387670266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocoaProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cocoa-project-daccd</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoa-project-daccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004387670266:ios:360fb25b6ee3a85edf9143</string>
</dict>
</plist>